@use "./../abstracts/mixins" as mix;
@use "./../abstracts/variables" as var;
@use "sass:math";

.pageTitle {
  @extend %flex;
  color: var.$color;
  font-size: var.$size-large;
  padding-top: var.$size-large;

  @include mix.mobile {
    font-size: var.$size-medium;
  }
}

.partnership {
  width: 80%;
  margin: (var.$size-medium * 2) auto;

  h3 {
    font-size: var.$size-large;
    font-weight: bold;

    @include mix.mobile {
      font-size: var.$size-small;
    }
  }

  .StaffName {
    text-align: center;
  }

  p {
    font-size: var.$size-small;
  }
}

.staff {
  @extend %flex;
  flex-wrap: wrap;

  .staffInner {
    flex-basis: 25%;
    text-align: center;

    @include mix.mobile {
      flex-basis: 100%;
    }

    img {
      border-radius: 50%;
    }
  }
}

.charts {
  max-width: 100%;
}
