@use "sass:math";
@use "./../abstracts/mixins" as mix;
@use "./../abstracts/variables" as var;

.banner {
  background-image: url("./../../../images/homepage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;

  height: calc(100vh - 70px);
  @extend %flex;
  margin: 0 auto;
  color: var.$color;
  font-size: var.$size-large;

  @include mix.mobile {
    font-size: var.$size-small / 1.5;
  }
}
