@use "./../abstracts/mixins" as mix;
@use "./../abstracts/variables" as var;

.contact {
  h4 {
    font-size: var.$size-small;
  }

  .contactInner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: 50px auto;

    @include mix.mobile {
      display: block;
    }

    h5 {
      font-size: var.$size-small;
    }
  }

  .form {
    max-width: 400px;
  }

  label {
    display: block;
    font-weight: bold;
  }
  input,
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }

  .form div {
    margin-bottom: 15px;
  }
}

.read-more {
  max-width: 200px;
  margin: 0 auto;
}

.text {
  max-height: 4.5em;
  margin-bottom: 2px;
}

.text p {
  margin: 0;
  line-height: 1.2em;
}

.additional-text {
  display: none;
}

.read-more-button {
  margin-top: 20px;
}
