@use "./../abstracts/mixins" as mix;
@use "./../abstracts/variables" as var;

footer {
  background-color: var.$background-color;

  .innerFooter {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    padding: 15px 0 25px 0;
    
    a {
      color: var.$color;
    }

    p {
      font-size: var.$size-small;
      color: var.$color;
    }

    .footerIcons {
      display: flex;
      font-size: var.$size-small;
      justify-content: space-between;

      i {
        &:hover {
          color: var.$color-hover;
          cursor: pointer;
        }
      }
    }
  }
}
