@use "./../abstracts/mixins" as mix;
@use "./../abstracts/variables" as var;

.Navbar {
  @extend %flex-between;
  align-items: center;
  background-color: var.$background-color;
  padding: 0 20px;
  max-height: 70px;
  min-height: 70px;

  img {
    width: 50px;
    border-radius: 50%;
    margin: 5px 0;
  }

  ul {
    display: flex;

    li {
      margin-right: 40px;
      list-style-type: none;
      font-size: var.$size-small;

      @include mix.mobile {
        font-size: var.$size-small / 1.5;
        margin-right: 20px;
      }

      a {
        color: var.$color;
        text-decoration: none;

        &:hover {
          color: #494f54;
          cursor: pointer;
        }
      }
    }
  }
}
