* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin-top: 0;
}

img {
  max-width: 100%;
}

.backgroundFixed {
  background-image: url("./../../../images/homepage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.pageTitle, .staff, .banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards .card, .Navbar {
  display: flex;
  justify-content: space-between;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  line-height: 1.5;
}

button {
  background-color: #343a40;
  padding: 5px 10px;
  color: #9A9DA0;
  border-radius: 5px;
}
button:hover {
  background-color: #494F54;
  cursor: pointer;
}

.dark-mode {
  background-color: black;
  color: white;
}

.Navbar {
  align-items: center;
  background-color: #343a40;
  padding: 0 20px;
  max-height: 70px;
  min-height: 70px;
}
.Navbar img {
  width: 50px;
  border-radius: 50%;
  margin: 5px 0;
}
.Navbar ul {
  display: flex;
}
.Navbar ul li {
  margin-right: 40px;
  list-style-type: none;
  font-size: 20px;
}
@media (max-width: 425px) {
  .Navbar ul li {
    font-size: 13.3333333333px;
    margin-right: 20px;
  }
}
.Navbar ul li a {
  color: #9A9DA0;
  text-decoration: none;
}
.Navbar ul li a:hover {
  color: #494f54;
  cursor: pointer;
}

footer {
  background-color: #343a40;
}
footer .innerFooter {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 15px 0 25px 0;
}
footer .innerFooter a {
  color: #9A9DA0;
}
footer .innerFooter p {
  font-size: 20px;
  color: #9A9DA0;
}
footer .innerFooter .footerIcons {
  display: flex;
  font-size: 20px;
  justify-content: space-between;
}
footer .innerFooter .footerIcons i:hover {
  color: #494F54;
  cursor: pointer;
}

.banner {
  background-image: url("./../../../images/homepage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  height: calc(100vh - 70px);
  margin: 0 auto;
  color: #9A9DA0;
  font-size: 30px;
}
@media (max-width: 425px) {
  .banner {
    font-size: 13.3333333333px;
  }
}

.cards .cardWrapper {
  width: 80%;
  margin: 0 auto;
}
.cards .card {
  flex-wrap: wrap;
}
.cards .card img {
  flex-basis: 40%;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .cards .card img {
    margin-top: 50px;
    margin-bottom: 80px;
  }
}
@media (max-width: 425px) {
  .cards .card img {
    flex-basis: 100%;
  }
}
.cards .card .innerCard {
  flex-basis: 60%;
}
@media (max-width: 425px) {
  .cards .card .innerCard {
    flex-basis: 100%;
    margin-bottom: 280px;
  }
}
.cards .card h3 {
  font-size: 25px;
}
.cards .card p {
  font-size: 20px;
}
.cards .reverse {
  flex-direction: row-reverse;
}
.cards .reverse .innerCard {
  padding-left: 20px;
}

h2 {
  text-align: center;
  background-color: #343a40;
  color: #9A9DA0;
  padding: 10px 0;
}
@media (max-width: 425px) {
  h2 {
    font-size: 20px;
  }
}

.backgroundFixed {
  background-attachment: fixed;
  height: 15vh;
  position: relative;
}

.margin-y {
  margin: 40px 0;
}

.pageTitle {
  color: #9A9DA0;
  font-size: 30px;
  padding-top: 30px;
}
@media (max-width: 425px) {
  .pageTitle {
    font-size: 25px;
  }
}

.partnership {
  width: 80%;
  margin: 50px auto;
}
.partnership h3 {
  font-size: 30px;
  font-weight: bold;
}
@media (max-width: 425px) {
  .partnership h3 {
    font-size: 20px;
  }
}
.partnership .StaffName {
  text-align: center;
}
.partnership p {
  font-size: 20px;
}

.staff {
  flex-wrap: wrap;
}
.staff .staffInner {
  flex-basis: 25%;
  text-align: center;
}
@media (max-width: 425px) {
  .staff .staffInner {
    flex-basis: 100%;
  }
}
.staff .staffInner img {
  border-radius: 50%;
}

.charts {
  max-width: 100%;
}

.contact h4 {
  font-size: 20px;
}
.contact .contactInner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 50px auto;
}
@media (max-width: 425px) {
  .contact .contactInner {
    display: block;
  }
}
.contact .contactInner h5 {
  font-size: 20px;
}
.contact .form {
  max-width: 400px;
}
.contact label {
  display: block;
  font-weight: bold;
}
.contact input,
.contact textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}
.contact .form div {
  margin-bottom: 15px;
}

.read-more {
  max-width: 200px;
  margin: 0 auto;
}

.text {
  max-height: 4.5em;
  margin-bottom: 2px;
}

.text p {
  margin: 0;
  line-height: 1.2em;
}

.additional-text {
  display: none;
}

.read-more-button {
  margin-top: 20px;
}/*# sourceMappingURL=main.css.map */