@use "./../abstracts/mixins" as mix;
@use "./../abstracts/variables" as var;

body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  line-height: 1.5;
}

button {
  background-color: var.$background-color;
  padding: 5px 10px;
  color: var.$color;
  border-radius: 5px;

  &:hover {
    background-color: var.$color-hover;
    cursor: pointer;
  }
}

.dark-mode {
  background-color: black;
  color: white;
}