%backgroundImage {
  background-image: url("./../../../images/homepage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

%flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex-between {
  display: flex;
  justify-content: space-between;
}

@mixin tablet {
  @media (min-width: 768px) and (max-width: 1023px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 425px) {
    @content;
  }
}
