
$size-small:            20px;
$size-medium:           25px;
$size-large:            30px;

$padding-size-small:    20px;  
$padding-size-medium:   25px;  
$padding-size-large:    30px;

$background-color:     #343a40;
$color:                #9A9DA0;
$color-hover:          #494F54;